@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

code {
  color: #e83e8c;
  font-size: .9rem;
}

blockquote {
  margin-top: 0.5rem;
  border-left: 3px solid lightgrey;
  padding-left: 1rem;
  margin-left: 0;
}